---
Checks:          '*,
                 -altera-*,
                 -fuchsia-*,
                 -google-*,
                 -zircon-*,
                 -llvm*,
                 -readability-redundant-access-specifiers,
                 -readability-identifier-length,
                 -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                 -hicpp-no-array-decay'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
CheckOptions:
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
